* {
    font-family: roboto;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}
li {
    list-style-type: none;
    font-weight: 500;
    font-size: 13px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;    
}
.all {
    color: blue;
    border-bottom: 2px solid blue;
    width: 30px;
    height: 30px;
    padding-left: 9px;

}
.images {
    opacity: 0.7;
}
.image-area img{
    display: block;
    margin: 50px  auto 10px auto;
   width: 30%;
}
.button {
    width: 90%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid grey;
    opacity: 0.3;
    margin-left: 30px;
} 
.input {
    position: relative;
    margin: auto;
    /* background-color: red; */
    height: 100px;
    width: 400px;
}
input {
   position: absolute;
   top: 35%;
   width: 400px;
  padding: 15px ;
  border-radius: 200px;
  text-align: left;
 background-color: #f2f0f0;
 border: none;
}
.input img {
  width: 5%;
  float: right;
  margin: 10px;
  position: relative;
  top: 38px;
  right: 20px;
}
.image1 {
    opacity: 0.5;
}
/* .searches {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.profile {
    width: 70px;
    height: 70px;
    background-color: #f2f0f0;
    margin: 10px;
    border-radius: 200px;
} */
footer p{
    text-align: center;
    color: blue;
    font-size: 15px;
    margin-top: 20px;
}